<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><span id="home" class="material-icons" routerLink="">home</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" *ngIf="fr"> Projets</a>
          <a class="nav-link" href="#" *ngIf="!fr"> Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="resume" *ngIf="fr"> CV</a>
            <a class="nav-link" routerLink="resume" *ngIf="!fr"> Resume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact" *ngIf="fr"> Contact</a>
            <a class="nav-link" routerLink="contact" *ngIf="!fr"> Contact</a>
        </li>
      </ul>
      
      <img src="../assets/data/bs.png" id="bs" alt="" *ngIf="fr">
      <img src="../assets/data/bs.png" id="bs_fr" alt="" *ngIf="!fr">
    </div>

    


    <!--Languages & SN-->
    <table cellpadding="10">
        <tr>
            <!--SN-->
            <td><table cellpadding="5"><tr>
                <td>
                    <a href="https://github.com/bilelsgh" target="_blank"><img src="../../assets/data/gh.png" id="gh" alt="" ></a>
                </td>
                <td>
                    <a href="https://linkedin.com/in/bilel-saghrouchni" target="_blank"><img src="../../assets/data/linked.png" id="lk" alt="" ></a>
                </td>
            </tr></table></td>
            
            <!--Lang-->
            <td>
                <img src="../../assets/data/en.png" id="en" alt="" *ngIf="fr" (click)="switchLang()">
                <img src="../../assets/data/fr.png" id="fr" alt="" *ngIf="!fr" (click)="switchLang()">
            </td>
            
        </tr>
    </table>
    
    

  </nav>

<router-outlet></router-outlet>
