.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }
  
  .card-image img {
    object-fit: cover;
    display: block;
    width: 100%;
  }
  
  
  .card-content {
    padding: 1rem;
  }
  
  .card-content h2 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
  }
  
  .card-content p {
    margin: 0;
    font-size: 0.95rem;
    color: #555;
  }
  
  [data-theme='dark'] .card-content p {
    margin: 0;
    font-size: 0.95rem;
    color: #ffffff;
  }
  
  [data-theme='dark'] .card{
    background-color: #151515;
    color: #ffffff;
    border: #333;
  }