<div class="jumbotron jumbotron-fluid">
    <img src="../../assets/data/en.png" id="en" alt="" *ngIf="fr" (click)="switchLang()">
    <img src="../../assets/data/fr.png" id="fr" alt="" *ngIf="!fr" (click)="switchLang()">
    <div class="space"></div>

    <div class="container">
      <table align="center">
        <tr><img src="../../assets/data/bilel.png" id="title" alt=""></tr>
      </table>
        
      <p class="lead" id="text" *ngIf="fr">Elève ingénieur en informatique</p> 
      <p class="lead" id="text" *ngIf="!fr">IT Engineer student</p> 
      <table align="center" cellpadding="10">
        <tr>
            <td><button type="button" class="btn btn-outline-light">LinkedIn</button></td>
            <td><button type="button" class="btn btn-outline-light">Github</button></td>
      </tr>
    </table>
    </div>
  </div>

<br>



<!-- PRESENTATION -->
<div id="pres">
    <div *ngIf="fr">
        <h1 style="color: #2f9a9e; font-weight: lighter;">Bienvenue</h1>
        <p>Je suis Bilel SAGHROUCHNI, passionné d'informatique et élève ingénieur dans ce domaine, vous trouverez sur ce site les travaux que j'ai réalisé à travers de multiples expériences.
        </p>
    </div>

    <div *ngIf="!fr">
        <h1 style="color: #2f9a9e; font-weight: lighter;">Welcome</h1>
        <p>I'm Bilel SAGHROUCHNI, passionate about computer science and a engineer student in this field, you can find out on this website the work I have done through multiple experiences.
        </p>
    </div>
</div>
<br><br>

<!--BUTTONS-->
<table align="center" cellpadding="70">
  <tr>
    <td><img src="../../assets/data/projet.png" alt="" id="projet"><p style="text-align: center;" *ngIf="fr">Projets</p><p style="text-align: center;" *ngIf="!fr">Projects</p></td>
    <td><img src="../../assets/data/cv.png" alt="" id="cv"><p *ngIf="fr" style="text-align: center;">CV</p><p *ngIf="!fr" style="text-align: center;">Resume</p></td>
    <td><img src="../../assets/data/contact.png" alt="" id="contact" routerLink="contact"><p style="text-align: center;">Contact</p></td>
  </tr>
</table>